tbody {
    word-wrap: break-word;
    display:block;
    min-height: 150px;
    max-height:600px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}