#breadcrumb {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 25px; }
  #breadcrumb .icon {
    font-size: 14px; }
  #breadcrumb li {
    float: left; }
    #breadcrumb li a {
      color: #FFF;
      display: block;
      background: #618788;
      text-decoration: none;
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px; }
    #breadcrumb li:nth-child(even) a {
      background-color: rgba(97, 135, 136, 0.7); }
      #breadcrumb li:nth-child(even) a:before {
        border-color: rgba(97, 135, 136, 0.7);
        border-left-color: transparent; }
      #breadcrumb li:nth-child(even) a:after {
        border-left-color: rgba(97, 135, 136, 0.7); }
    #breadcrumb li:first-child a {
      padding-left: 15px;
      border-radius: 4px 0 0 4px; }
      #breadcrumb li:first-child a:before {
        border: none; }
    #breadcrumb li:last-child a {
      padding-right: 15px;
      border-radius: 0 4px 4px 0; }
      #breadcrumb li:last-child a:after {
        border: none; }
    #breadcrumb li a:before, #breadcrumb li a:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid #618788;
      border-width: 20px 10px;
      width: 0;
      height: 0; }
    #breadcrumb li a:before {
      left: -20px;
      border-left-color: transparent; }
    #breadcrumb li a:after {
      left: 100%;
      border-color: transparent;
      border-left-color: #618788; }
    #breadcrumb li a:hover {
      background-color: #5fbeaa; }
      #breadcrumb li a:hover:before {
        border-color: #5fbeaa;
        border-left-color: transparent; }
      #breadcrumb li a:hover:after {
        border-left-color: #5fbeaa; }
    #breadcrumb li a:active {
      background-color: #46A591; }
      #breadcrumb li a:active:before {
        border-color: #46A591;
        border-left-color: transparent; }
      #breadcrumb li a:active:after {
        border-left-color: #46A591; }
