.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #618788;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover{
    background: white;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar ul {
    color: white;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidebar-border-bottom {
    border-bottom: 1px solid skyblue;
}

.openbtn {
    width: 70px;
    padding: 10px 15px;
    font-size: 20px;
    margin-left: -10px;
    cursor: pointer;
    color: white !important;
    border: none;
    border-radius: 0 25% 25% 0;
}

.openbtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.openbtn .spanClose:after {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.openbtn .spanOpen:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.openbtn:hover span {
    padding-right: 25px;
}

.openbtn:hover span:after {
    opacity: 1;
    right: 0;
}

#main {
    transition: margin-left .5s;
    padding: 90px 25px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 14px;}
}